
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: $color-grey-dark-1;
  // font-family: 
  font-weight: 700;
  line-height: 1.6;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.headerSecondary {
  color: grey;
}

// body - font family, font weight (usually 700) , h2, h3, p 