
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $color-grey-dark-1;
}

// body - font family, font weight (usually 700) , h2, h3, p 