
html { 
  box-sizing: border-box;
}
// * is for body, so inherit will inherit whatever inside html tag. This is more performative than "border-box"
// directly on each element

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: purple;
  // font-family: 
  font-weight: 700;
  line-height: 1.6;

}

.headerSecondary {
  color: grey;
}

// body - font family, font weight (usually 700) , h2, h3, p 